<h3>Cdk Use Case</h3>
<div class="grid grid-pad">
    <a class="col-1-4" routerLink="./focus-trap">
        <div class="module hero">
            <h4>FocusTrap</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./focus-key-manager">
        <div class="module hero">
            <h4>FocusKeyManager</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./focus-monitor">
        <div class="module hero">
            <h4>FocusMonitor</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./focus-monitor-via">
        <div class="module hero">
            <h4>FocusMonitorVia</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./focus-monitor-directive">
        <div class="module hero">
            <h4>FocusMonitorDirective</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./bidi">
        <div class="module hero">
            <h4>Bidi</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./clipboard">
        <div class="module hero">
            <h4>Clipboard</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./layout-break-point">
        <div class="module hero">
            <h4>BreakpointObserver</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./portal-template">
        <div class="module hero">
            <h4>PortalTemplate</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./portal-component">
        <div class="module hero">
            <h4>PortalComponent</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./portal-dom">
        <div class="module hero">
            <h4>PortalDom</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./overlay-connectd-to">
        <div class="module hero">
            <h4>OverlayConnectdTo</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./coerce">
        <div class="module hero">
            <h4>Coerce</h4>
        </div>
    </a>
    <a class="col-1-4" routerLink="./platform">
        <div class="module hero">
            <h4>Platform</h4>
        </div>
    </a>
</div>