<app-base>
    <div class="container">
        <h2>Platform Information</h2>
        <p>Is Android👉：{{ platform.ANDROID }}</p>
        <p>Is IOS👉：{{ platform.IOS }}</p>
        <p>Is Firefox👉：{{ platform.FIREFOX }}</p>
        <p>Is Blink👉：{{ platform.BLINK }}</p>
        <p>Is Webkit👉：{{ platform.WEBKIT }}</p>
        <p>Is Trident👉：{{ platform.TRIDENT }}</p>
        <p>Is Edge👉：{{ platform.EDGE }}</p>
        <p>Is Safari👉：{{ platform.SAFARI }}</p>
        <p>IS Browser👉：{{ platform.isBrowser }}</p>
        <p>Supported input types👉：{{ supportedInputTypes }}</p>
        <p>Supports passive event listeners👉：{{ supportsPassiveEventListeners }}</p>
        <p>Supports scroll behavior👉：{{ supportsScrollBehavior }}</p>
        <p>Supports rtl scroll axis type👉：{{ supportRtlScrollAxisType }}</p>
    </div>
</app-base>
