.bling-star-align {
  float: left;
  font-size: 16px;
  margin-right: 5px;
  position: relative;
}

.bling-pointer {
  cursor: pointer;
}

.bling-star-container {
  display: inline-block;
}

// ---预设的星星颜色 Start---
.bling-star-color-active {
  color: #6a81ed;

  svg g {
    fill: #6a81ed;
  }
}

.bling-star-color-success {
  color: #3dcca6;

  svg g {
    fill: #3dcca6;
  }
}

.bling-star-color-warning {
  color: #fac20a;

  svg g {
    fill: #fac20a;
  }
}

.bling-star-color-error {
  color: #f66f6a;

  svg g {
    fill: #f66f6a;
  }
}
// ---预设的星星颜色 End---

.bling-active-star {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bling-star-color {
  color: #dfe1e6;

  svg g {
    fill: #dfe1e6;
  }
}

.bling-only-read {
  cursor: not-allowed;
}

// 空心的星星样式
.bling-hollow-star-color-active {
  stroke: #6a81ed;

  g {
    fill: none !important;
  }
}

.bling-hollow-star-color-success {
  stroke: #3dcca6;

  g {
    fill: none !important;
  }
}

.bling-hollow-star-color-warning {
  stroke: #fac20a;

  g {
    fill: none !important;
  }
}

.bling-hollow-star-color-error {
  stroke: #f66f6a;

  g {
    fill: none !important;
  }
}
